body{
    background: rgb(9,121,117);
    background: linear-gradient(135deg, rgba(9,121,117,1) 35%, rgba(0,144,255,1) 100%); 
    background-size: cover;
    height:100vh;
    overflow: hidden;
}


.container{
    width: 1000px;
    height: 500px;
    background-color: white;
    position: relative;
    /* top:0; */
    margin: calc((100vh - 500px)/2) auto;    
    border-radius: 20px;
    overflow: hidden;
}

form{
    position: absolute;
    left:600px;
    top:71px;
}

form p{
    font-size: 40px;
    color:#455A64;
}

form p:nth-of-type(1){
    margin-bottom: 0px;
}

form p:nth-of-type(2){
    margin-top: 3px;
    margin-bottom:13px;
}

input[type="text"]{
    border:0px;
    border-bottom:3px solid cyan;
    /* padding-left:10px; */
    width:240px;
    height: 30px;
}

input[type="text"]:focus{
    outline:none;
    
}

input[type="submit"]:hover{
    cursor: pointer;
    background: rgb(219,15,219);
    background: linear-gradient(225deg, rgba(219,15,219,1) 35%, rgba(0,204,255,1) 100%);  
}

input[type="submit"]{
    border:0px;
    width:248px;
    box-sizing: padding-box;
    padding-top:5px;
    padding-bottom:5px;
    margin-top:30px;
    background: rgb(219,15,219);
    background: linear-gradient(114deg, rgba(219,15,219,1) 35%, rgba(0,204,255,1) 100%); 
    color:white;
    border-radius: 13px;
}

#e_message{
    min-height:19.2px;
    font-size: 16px;
    margin-top:3px;
    color:#FF3B30;
}

img#i1{
    position: absolute;
    width:500px;
    height:500px;
    left:50px;
    top:-13px;
    z-index:1;
}

img#i2{
    width:487px;
    height:auto;
    position: absolute;
    left:-281px;
    top:-100px;
    z-index:10;
    transform: rotate(3deg);
}


img#i3{
    width:487px;
    height:auto;
    position: absolute;
    right:-252px;
    bottom:-100px;
    z-index:10;
    transform: rotate(177deg);
}

